[Desktop Entry]
Version=1.0
Name=Rxvt Unicode Terminal
Comment=An unicode capable rxvt clone client for urxvtd
Exec=urxvtc-run
Icon=urxvt_48x48.xpm
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
