!! ~/.Xresources

!!
!! common
!!

!! colorscheme
#include ".config/X11/xcolors-tango.Xresources"

!!
!! rxvt-unicode
!!

!! basic
URxvt.geometry:             96x32
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         true
URxvt.visualBell:           false
URxvt.saveLines:            3000

!! Font list and Spacing
URxvt.font:                 xft:Ricty Diminished-10.5
URxvt.letterSpace:          -1
URxvt.lineSpace:            0

!! perl extension
URxvt.perl-ext-common: default,-searchable-scrollback,selection-to-clipboard,confirm-paste,keyboard-select

!! keybind
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
