!! ~/.Xresources

!! colorscheme
#include ".config/Xresources/color-tango"

!! xterm
#include ".config/Xresources/xterm"

!! rxvt-unicode
#include ".config/Xresources/rxvt-unicode"

!! for local settings
#include ".config/Xresources/local"
