!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

URxvt.geometry:             96x32
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         true
URxvt.visualBell:           true
URxvt.saveLines:            3000
URxvt.fading:               30

!! Font list and Spacing
URxvt.font:                 xft:Ricty Diminished-10
URxvt.letterSpace:          -1
URxvt.lineSpace:            0

!! Color Scheme and Opacity - gruvbox-dark https://github.com/morhetz/gruvbox
URxvt.depth:                32
URxvt.color0:               [92]#282828
URxvt.color1:               [92]#cc241d
URxvt.color2:               [92]#98971a
URxvt.color3:               [92]#d79921
URxvt.color4:               [92]#458588
URxvt.color5:               [92]#b16286
URxvt.color6:               [92]#689d6a
URxvt.color7:               [92]#a89984
URxvt.color8:               [92]#928374
URxvt.color9:               [92]#fb4934
URxvt.color10:              [92]#b8bb26
URxvt.color11:              [92]#fabd2f
URxvt.color12:              [92]#83a598
URxvt.color13:              [92]#d3869b
URxvt.color14:              [92]#8ec07c
URxvt.color15:              [92]#ebdbb2
URxvt.foreground:           [92]#ebdbb2
URxvt.background:           [92]#282828
URxvt.colorIT:              [92]#8ec07c
URxvt.colorBD:              [92]#d5c4a1
URxvt.colorUL:              [92]#83a598
URxvt.scrollColor:          [92]#504945
